<article id="accueil">
  <div class="focusBox">
    <p>
      Bienvenue au plus grand rassemblement de penseurs, économistes, informaticiens, utilisateurs et simples
      curieux de Monnaie Libre. Cette 15ème édition se déroulera pour la première fois à <strong>Paris du 4 au 7 juin 2020</strong>.
    </p>
    <p>
      Pendant ces quatre jours auront lieu en parallèle des conférences grand public et des ateliers techniques. Consultez <a href="#programme">le programme</a> !
    </p>
  </div>
</article>
