<section id="apropos">
  <article>
    <h2>À propos...</h2>
    <div class="columnArea">
      <!-- {build:contact}
      <div>
        <h3>Espace presse et médias</h3>
        <p>Vous souhaitez communiquer sur l'évènement ?</p>
        <p>Visuels et communiqués de presse sont à votre disposition dans l'<a href="#espace_presse" class="subPageLink">espace presse & médias</a></p>
        <section id="espace_presse" class="subPage">{build:espace_presse}</section>
      </div>
      <div>
        <h3>Qui organise ?</h3>
        L'association Axiom-Team.
        <a href="https://pad.tetaneutral.net/p/RML12-benevoles" rel="noreferrer" target="_blank">Liste des bénévoles</a>
        <h3>Partenaires de l'évènement</h3>
        <h3>Merci à eux de faciliter la réalisation des RML12 :</h3>
        <ul>
          <li><a href="https://okiwi.org/" rel="noreferrer" target="_blank">Okiwi</a> : encadrement légal de l'évènement (assurance, comptabilité)</li>
          <li><a href="http://www.bordeaux.fr/" rel="noreferrer" target="_blank">Mairie de Bordeaux, Bibliothèque Flora Tristan, Bibliothèque de Meriadeck, Athénée Municipal</a> : subvention, prêt gracieux de salles et matériels</li>
          <li><a href="https://www.douves.org/" rel="noreferrer" target="_blank">Halle des douves</a> : prêt gracieux de salles & matériels</li>
          <li><a href="http://marengo.co/" rel="noreferrer" target="_blank">Marengo</a> : prêt gracieux de salles & matériels</li>
          <li><a href="https://www.colibris-lemouvement.org/" rel="noreferrer" target="_blank">Colibri</a> : facilitations diverses (obtention de salles, coordination de l'organisation)</li>
          <li>Crédits web : <a href="humans.txt" rel="noreferrer" target="_blank">humans.txt</a></li>
        </ul>
      </div> -->
      Cet évènement est organisé par l'association <a href="https://axiom-team.fr/">Axiom Team</a>.
    </div>
  </article>
</section>
