<section id="participer">
  <article>
    <h2>Participer</h2>
    <p>Les propositions d'interventions grand public se font sur le <a href="https://forum.monnaie-libre.fr/t/preparation-des-rml15-a-paris-du-4-au-7-juin-2020/6615" target="_blank">forum monnaie libre</a>.</p>
    <p>Pour les contributions techniques, veuillez indiquer vos suggestions sur le forum duniter [TODO mettre un lien].</p>
  </article>
</section>
